<ul>
  <li><a href="/">Home</a></li>
</ul>

<main>
    <h1>Безумный Маск</h1>
    <h2>Будущая Rails-звезда! </h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby</li>
            <li>Ruby On Rails</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>Прочее</h2>
        <p>...</p>
    </section>
</main>
